<!DOCTYPE html>
<html>
  <head>
    <title>RpgWriter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <div class="container">
        <div class="login-form">
            <div class="username">
                <p>Username:</p>
                <input class="input">
            </div>
            <div class="password">
                <p>Password:</p>
                <input class="input">
            </div>
            <div>
                <a href="/register">Register</a>
            </div>
            <div class="button-form">
                <button>Login</button>
            </div>
        </div>
    </div>
  </body>
</html>